<div id="ms-container">

   <div id="ms-header">
                <div class="container">
                    <a href="/" id="logo">TMDB Home</a>
                </div>

<!-- 
<nav>
  {{#link-to "home"}}Home{{/link-to}}
  {{#link-to "about"}}About{{/link-to}}
  {{#link-to "favorites"}}Favorites{{/link-to}}
  {{#link-to "search"}}Search{{/link-to}}
</nav>
-->

            </div>

            <div id="ms-search">
                 {{search-box loadResults='loadResults'}}
            </div>



{{outlet}}
</div>