<div class="container-fluid">

    <!-- Main Content-->
    <div id="ms-content" class="row">
        
        <!-- Initial load -->
        {{#unless model.hasResults}} {{#unless model.validResults}}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Search For Movies</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Please enter a search term in the search box.</p>
                    </div>
                </div>
            </div>
        {{/unless}} {{/unless}}


        <!-- Results found -->
        {{#if model.movies.results}}
            {{search-results model=model}}
        {{/if}}


        <!-- Search performed but no results -->
        {{#unless model.validResults}} {{#if model.hasResults}}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>No Results Found</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                       <p>Please enter another search term.</p>
                    </div>
                </div>
            </div>
        {{/if}} {{/unless}}

    </div>
</div>

{{outlet}}